---
http_interactions:
- request:
    method: post
    uri: https://developer.api.autodesk.com/authentication/v2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=authorization_code&code=test_auth_code&redirect_uri=https%3A%2F%2Fexample.com%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9","token_type":"Bearer","expires_in":3600,"refresh_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"}'
  recorded_at: Thu, 21 Mar 2024 12:00:00 GMT 