---
http_interactions:
- request:
    method: post
    uri: https://developer.api.autodesk.com/authentication/v2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&code=expired_token&grant_type=authorization_code&redirect_uri=https%3A%2F%2Fexample.com%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "developerMessage":"The client_id specified does not have access
        to the api product", "moreInfo": "https://aps.autodesk.com/en/docs/oauth/v2/developers_guide/error_handling/",
        "errorCode": "AUTH-001"}'
  recorded_at: Sun, 23 Feb 2025 21:43:46 GMT
recorded_with: VCR 6.3.1
