---
http_interactions:
- request:
    method: get
    uri: https://developer.api.autodesk.com/construction/issues/v1/projects/cfd4dbc0-d2ff-4295-957d-6da26067aefd/issues?limit=10&offset=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - b3f19d7f-76ad-4ce2-b71b-af67bf739abe
      Etag:
      - W/"9a-qpbQLRqWx4FRvVNt9tCXokFRgoo"
    body:
      encoding: UTF-8
      string: '{"pagination":{"limit":10,"offset":10,"totalResults":3,"previous":"/projects/cfd4dbc0-d2ff-4295-957d-6da26067aefd/issues?limit=10&offset=0"},"results":[]}'
  recorded_at: Sun, 23 Feb 2025 22:43:32 GMT
recorded_with: VCR 6.3.1
